<h2>Customer Orders</h2>
<div *ngIf="customers$ | async as customers">
    <cbi-customer-select [customers]="customers" (customerSelected)="onCustomerSelected($event)">
    </cbi-customer-select>
</div>

<div *ngIf="customerOrders$ | async as customerOrders">
    <div *ngIf="selectedOrder$ | async as selectedOrder">
        <cbi-order-list [orders]="customerOrders.orders" (orderSelected)="onOrderSelected($event)"
            *ngIf="selectedOrder === null">
        </cbi-order-list>
        <cbi-order-details *ngIf="selectedOrder !== null" [order]="selectedOrder" (orderClosed)="onBackToOrderList()">
        </cbi-order-details>
    </div>
</div>