<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'"
        [mode]="isHandset ? 'over' : 'side'" [opened]="!isHandset">
        <mat-toolbar class="mat-toolbar" color="primary">
            Menu
        </mat-toolbar>
        <mat-nav-list>
            <ng-container *ngFor="let item of menuItems"> 
                <a mat-list-item routerLinkActive="selected"  id="item.id" [routerLink]="item.routerLink" *ngIf="item.enabled">
                    {{item.label}}
                </a>
            </ng-container>
        </mat-nav-list>
        <footer class="footer">
            
        </footer>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row color="primary">
                <button id="toggle-nav-button" type="button" aria-label="Toggle sidenav" mat-icon-button
                    (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <span class="example-spacer"></span>
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">account_circle
                </mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="sidenav-content" [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>