<div [loadingOverlay]="loading$" loadingType="spinner-small" [errorOverlay]="error$" errorMessage="Error fetching customers" errorType="error-dialog">
    <mat-form-field class="mat-form-field-full-width">
        <mat-label>Select customer</mat-label>
        <mat-select id="customer-select" (selectionChange)="onCustomerSelected($event)">
            <mat-option id="customer-select-option-{{i}}" *ngFor="let item of customers$ | async; index as i;" [value]="item">
                {{item.lastName}}, {{item.firstName}}
            </mat-option>
        </mat-select>
    </mat-form-field>        
</div>
